<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>삭?제</h1>
    <form th:action="@{'/board/post/' + ${data.post_id} + '/delete'}" method="post">
        <button type="submit">예쓰</button>
        <a th:href="@{'/board/post/' + ${data.post_id}}"><button type="button">노</button></a>
    </form>
</body>
</html>