<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>글 수정</h1>
    <form th:action="@{'/board/post/' + ${data.post_id} + '/edit'}" method="post">
        <input name="user_id" th:value="${data.user_id}">
        <input name="title" th:value="${data.title}">
        <input name="content" th:value="${data.content}">

        <button type="submit">수정</button>
    </form>
</body>
</html>