<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>글쓰기</h1>
<form action="/board/write-form" method="post">
    <input type="text" name="user_id" placeholder="user_id">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="conent" placeholder="content">
    <button type="submit">글쓰기</button>
</form>
</body>
</html>